<!DOCTYPE html>
<html lang="en">
<head>
	<title>Twitter Analysis Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title"><u>
					TWITTER ANALYSIS
				</span></u>
				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>KEYWORDS</h2></label>
					<input class="input100" type="text" name="name" placeholder="Enter the search keyword (E.g. 'Earthquake','Flood')">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>Lattitude</h2></label>
					<input class="input100" type="number" name="lattitude" placeholder="Enter the Lattitude value ">
				</div>

				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>Longitude</h2></label>
					<input class="input100" type="number" name="longitude" placeholder="Enter the Longitude value">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>Range</h2></label>
					<input class="input100" type="number" name="range" placeholder="Enter the range ( E.g. 20 for 20km) ">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>Number of Tweets</h2></label>
					<input class="input100" type="number" name="tweets" placeholder="Enter the number of tweets">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>Consumer Key</h2></label>
					<input class="input100" type="password" name="lattitude" placeholder="Enter the API Consumer Key">
				</div>

				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>Consumer Secret</h2></label>
					<input class="input100" type="password" name="longitude" placeholder="Enter the API Consumer Secret">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>Access Token</h2></label>
					<input class="input100" type="password" name="range" placeholder="Enter the API Access Token ">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100">
					<label class="label-input100"><h2>Access Secret Token</h2></label>
					<input class="input100" type="password" name="tweets" placeholder="Enter the API Access Secret">
				</div>
				<div class="container-contact100-form-btn">
					<!--<a href="disaster_data.html">-->
					<a href="{% url 'data' %}">
						<button class="contact100-form-btn" type="button"><h2>
							SUBMIT							
						</button></h2>
					</a>
				</div>				
				<div class="container-contact100-form-btn" >
					<!--<a href="worldmap.html">-->
					<a href="{% url 'stats' %}">
						<button class="contact100-form-btn" type="button">
							<h2>
							STATISTICS
							</h2>					
						</button>
					</a>
				</div>				
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image: url('img/tweet_wall.jpg');">
			</div>
		</div>
	</div>
</body>
</html>
