{% load static %}
	

<!DOCTYPE html>
<html>
<head>
<style type="text/css">
img
{
text-align:center;
display:block;
width: 100%;
}
</style>

</head>
<body>

	<h1 align="center"><u>Sentiment Analysis Curve</u1></h1>
	<img src="{% static 'img\sentiment_analysis.png' %}" align="center" alt="Girl in a jacket" style="width:640px;height:480px;" ><br><br>
	<h1 align="center"><u>Tweet count day wise</u></h1>
	<img src="{% static 'img\tweet_count.png' %}" align="center" alt="Girl in a jacket" style="width:1200px;height:480px;" ><br><br>
	<h1 align="center"><u>Word Cloud</h1></u>
	<img src="{% static 'img\word_cloud.png' %}" align="center" alt="centered image" style="width:750px;height:480px;"><br><br>
	<h1 align="center"><u>Most used word Plot</u></h1>
	<img src= "{% static 'img\bar_count.png' %}" align="center" alt="Girl in a jacket" style="width:640px;height:480px;"><br><br>
	<h1 align="center"><u>Tweet geolocation</u></h1>
	<img src="{% static 'img\plot_map.png' %}" align="center" alt="Girl in a jacket" style="width:1280px;height:720px;"><br><br>
	


</body>
</html>